.OC-l p {
    font-size: 18px;
    color: grey;
  }
  
  .OC-l h2 {
    font-size: 45px;
  }
  
  .OC-r {
    margin-top: 50px;
  }
  
  .OC-r p {
    font-size: 18px;
    color: grey;
  }
  
  .OC-crd{
      border: 1px solid rgb(188, 181, 181);
      padding: 25px;
      margin: 10px;
      border-radius: 15px;
  }
  
  .OC-crd .cont {
    margin-left: 20px;
  }
  
  .OC-crd .cont p{
      text-align: justify;
  }
  