/* Main styles */
.mn-br {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: url("../../../Images//Ply\ .png") no-repeat center center; /* Corrected image path */
    background-size: contain; /* Ensure the background image scales appropriately */
    background-color: #f0f0f0; /* Optional: Fallback background color */
    background-attachment: fixed; /* Optional: Fix the background on scroll */
    background-color: rgb(152, 157, 179);
    border: none;
}

.hd{
    background-color: rgb(247, 247, 247);
    border-left: 5px solid orangered;
}

.hd h3{
    margin-left: 3px;
    padding: 5px;
}

.inner-ply h1 {
    font-size: 2.5em;
    text-align: center; /* Center the text within h1 */
    margin: 0; /* Remove default margin */
    color: #333; /* Set text color for better visibility */
}

.mn-cont span {
    color: rgb(0, 175, 239);
    font-weight: bolder;
}

.mn-cont p {
    font-size: 19px;
    text-align: justify;
}

.p-txt{
    font-size: 20px;
    text-align: justify;
}

.mn-im{
    border: 1px solid rgb(254, 143, 56);
    border-radius: 50px;
    margin-top: 10px;
}

.mn-im img{
    width: 100%;
    height: 50vh;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
}


.mtr-tbl, .mtr-tbl2, .mtr-tbl3, .mtr-tbl4{
    border-radius: 30px;  
    overflow: hidden;  
  
    table {
      border-collapse: separate;
      border-spacing: 0;
    }
  
    th, td {
      border: 1px solid #ddd;
    }
  }
  
  .hd-clr{
    background-color: rgb(245, 134, 52) !important;
}
  

.prd-lg img{
    width: 30px;
}

.prd-txt p{
    font-size: 18px;
    margin-left: 10px;
}

/* Mobile-specific styles */
@media (max-width: 768px) { /* Mobile devices */
    .hd h3 {
        overflow: hidden; /* Hide overflow if necessary */
        font-size: 1.2em;  /* Ensure it's centered */
    }
}
