.mnIns2-br{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: url("../../../Images/Ply .png") no-repeat center center;
    background-size: contain; 
    background-color: #f0f0f0;
    background-attachment: fixed; 
    background-color: rgb(152, 157, 179);
    border: none;
}