.Ply{
    margin-bottom: 50px;
}

.brf h1{
    font-size: 45px;
}
.brf p{
    font-size: 18px;
    text-align: justify;
}

.brf-img img{
    width: 800px;
    height: 60vh;
    margin-top: 60px;
    border-radius: 50px;
    border: 1px solid rgb(170, 184, 193);
}

.card{
    margin-top: 15px !important;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.card img{
    height: 30vh;
}

.card:hover{
    transform: scale(1.1); 
}
.card-body p{
    font-size: 18px !important;
}

.plink a{
    text-decoration: none;
    color: inherit;
}

.plink a:hover{
    color: orangered;
}

.plink {
    font-size: 16px;               /* Initial font size */
    transition: font-size 0.3s ease, transform 0.3s ease; /* Transition for both font size and scale */
}

.plink:hover {
    font-size: 30px;               /* Increased font size on hover */
    transform: scale(1.2);          /* Scale the element by 1.2x */
}

