.C{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.outer-br{
    width: 100%;
    height: 80vh;
    border-radius: 30px;
}

.middle-br{
    width: 90%;
    height: 70vh;
    border-radius: 30px;
    border: 1px solid red;
  
}

.inner-br-b{
    width: 100%;
    border-radius: 30px;
    height: 60vh;
    border: 3px solid rgb(149, 209, 36) !important;
    background: url('../../Images/CBarrier.png');
    background-size: cover;
}

.inner-txt{
  margin-top: 50px;
}

.inner-txt h1{
  font-size: 5em;
  font-weight: bolder;
}


.caras-btn {
  position: relative;
  padding: 7px 14px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background-color: rgb(239, 127, 25);
  color: white;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease-in-out;
  margin-top: 15px;
}

.caras-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(3, 15, 39);
  z-index: -1;
  transition: width 0.4s ease-in-out;
  border: none;
}

.caras-btn:hover::before {
  width: 100%;
}

.caras-btn:hover {
  color: white;
}

  
  /* Mobile styles */
  @media (max-width: 768px) { /* Adjust the width as needed */
    .inner-br-b p {
      font-size: 15px; /* Smaller font size for mobile */
    }
  
    .inner-br-b h1 {
      font-size: 25px !important; /* Smaller font size for mobile */
      white-space: nowrap !important; /* Prevent line breaks */
    }

    .inner-txt{
      text-align: center;
    }

    .inner-txt h1{
      font-size: 2rem;
    }
    

    .caras-sm{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }

  .caras-btn{
    text-align: center !important;
  }
  

p{
    font-size: 2rem;
}

h1{
    font-size: 4rem;
}

