*{
  font-family: Arial;
  margin: 0;
  padding: 0;
}

p{
  font-size: 18px !important;
}

.p-txt-gry{
  color:rgb(103, 103, 107) !important;
}

.m-t{
  margin-top: 50px !important;
}

.m-tb{
  margin-bottom: 50px;
}

.pr-sz{
  font-size: 18px !important;
}

.mhd{
  font-size: 45px !important;
}
.m-hd{
  font-size: 20px !important;
}