.cmr-hdr h1{
    font-size: 50px;
}
.cmr-hdr p{
    font-size: 18px
}

.logo-br{
    border:none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(253, 222, 212);
}

.logo-inr{
    border:none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 127, 25);
}

.lg-icon{
    font-size: 30px;
    color: white;
}

.crd-br{
    border: 1px solid rgb(173, 164, 164);
    padding: 15px;
    border-radius: 15px;
    margin: 5px 0;
}

.cmd-cont{
    margin: 5px 10px;
}
.cmd-cont p{
    margin: 0px !important;
    font-size: 18px;
    color:rgb(239, 127, 25);
}

.uln{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
}